header {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  height: 75px;
  text-align: right;
  font-size: 30px;
  padding-top: 10px;
  padding-right: 50px;
}

ul {
  list-style: none;
  line-height: 2;
}

.search {
  margin-left: 10px;
}

.card {
  max-width: 200px;
  background-color: #142d4c;
  color: white;
  margin: 10px;
}
.current-temperature {
  font-weight: 400;
}

.temperature {
  font-size: 70px;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 320px;
  left: 240px;
}

.results {
  max-height: 25%;
  background-color: #daf0ff;
}

#units {
  position: relative;
  bottom: 400px;
  left: 330px;
  text-decoration: none;
}

#icon {
  position: relative;
  bottom: 220px;
  left: 330px;
}

#description {
  text-transform: capitalize;
}

#city {
  margin-left: 30px;
}
#forecast {
  color: white;
  margin: 0 auto;
  text-align: center;
}

.forecast-icon {
  align-self: center;
}
