header {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  height: 75px;
  text-align: right;
  font-size: 30px;
  padding-top: 10px;
  padding-right: 50px;
}
